html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    letter-spacing: 3px;     
    scroll-behavior: smooth;  
    background-color: rgba(0,0,0,0.9); 
}
p{
    font-size: 1.25vw;
    padding: 2%;
    text-align: justify;
    color: white;
}
a{
    text-decoration:none;
    color: white;
}
a:focus{
    color: red;
}
h2{
    font-size: 2.5vw;
    text-align: center;
    color: white;
    font-weight: normal ;
    text-transform: capitalize;
    margin-left; 50px;
    padding: 0;
    line-height: 60px;
}
h4{
    margin: 10px 0;
}
hr{
    height: 4px;
    width: 50%;
    background-color: #3700ee;
    margin-bottom: 100px;
}
.bg-image{
    background-image: url("../img/drone-1245980_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 80vh;
    -webkit-clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-text{
    width: 60%;
    padding: 4vh 0;
    height: auto;
    border: 5px solid white;
    margin: 0 20%;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    color: white;
    scroll-behavior: smooth;
}
h1{
    font-size: 4vw;
    font-weight: 1000;
    margin: 0;
}
h3{
    font-size: 1.5vw;
    color: white;
    text-align: center;
}
#about-us{
    width: 100%;
    margin: 75px 0 0 0;
}

.about-us-info{
    width: 80%;
    padding: 5% 10%;
    background-image: url('../img/about.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    justify-content: space-between;
    box-shadow: 0 0 8px white;
    border-left: 8px solid #3700b3;
}
#about-us p{
    margin-right: 20px;
    text-align: justify;
}
#about-us h2{
    color: white;
}
button:active{
    box-shadow: 2px 2px 2px #aaaaaa;
}

#vis-motto{
    width: 100%;
    margin-top: 100px;
    height: auto;
    text-align: left;
}
.vis-motto-info{
    width: 80%;
    padding: 5% 10%;
    margin-top: 40px;
    background-image: url('../img/vision2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.vis-motto-ul{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-gap: 20px 50px;
    justify-content: space-around;
    align-content: space-around;
}
.vis-motto-li{
    list-style: none;
    border-left: 8px solid #3700b3;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 8px white;
    background-color: rgba(0,0,0,0.7);
}
#fac-co{
    width: 100%;
    margin-top: 100px;
}
.fac-co-flex{
    width: 80%;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url('../img/mailbox-341744_1920.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.message{
    font-size: 1.25vw;
    border-left: 8px solid #3700b3;
    box-shadow: 0 0 8px white;
    background-color: rgba(0,0,0,0.7);
}
figure{
    box-shadow: 0 0 8px white;
    margin-bottom: 50px;
    padding: 5%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}
figure img{
    width: 150px;
    height: auto;
}
figcaption{
    text-align: center;
    font-size: 1.25vw;
    font-weight: bold;
    color: white;
}
figcaption span{
    opacity: 0.7;
    font-size: 1vw;
}
.robocon{
    width: 100%;
    height: auto;
    margin-top: 100px;
}
.robo-head-caption{
    color: white;
    opacity: 0.7;
    padding: 0;
    margin: 0;
}
.robo-info{
    width: 80%;
    padding: 5% 10%;
    transition: all;
    transition-duration: 1s;
    transition-delay: 0.2s;
    transition-timing-function: ease-in-out;
    /* background-image: url('../img/robocon.jpg'); */
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.robo-info-p{
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 8px white;
    border-left: 8px solid #3700b3;
    padding: 2%;
}
.robocon h3{
    color: white;
}
.robo-achievements{
    width: auto;
    background-color: rgba(0,0,0,0.7);
    padding: 2% 0;
    margin-top: 50px;
    box-shadow: 0 0 8px white;
    border-left: 8px solid #3700b3; 
}
.robo-years{
    box-shadow: 0 0 4px white;
    width: 80%;
    margin: 25px 10% 0 10%;
    border-left: 2px solid #3700b3;
}
.year{
    font-size: 1.5vw;
    text-align: center;
    color: white;
    font-weight: bold;
}
.robo-info-hr{
    margin-bottom: 0; 
}
.robocon span{
    font-weight: bold;
}
.robo-info-button{
    display: flex;
    justify-content: center;
}
button{
    background-color: #3700b3;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    color: white;
    text-align: center;
    box-shadow: 0 0 4px white;
    margin-top: 50px;
}
.robo-achievements{
    display: none;
}


footer{
    position: relative;
    min-height: 50vh;
    width: 80%;
    padding: 50px 10%;
    background-image: url('../img/footer.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 50px;
}
footer h3{
    margin-bottom: 75px;
}
.contact-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.contact-form{
    min-width: 600px;
    max-width: 50%;
    height: auto;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-item: center;
}
input{
    width: 96%;
    height: 75px;
    padding: 0 2%;
    margin-bottom: 37px;
    border: none;
    background: rgba(255,255,255,0.4);
    color: white;
    font-size: 1.2em;
}
input::placeholder {
    color: white;
}
.sub-form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-form-input{
    width: 45%;
}
.form-message{
    height: 150px;
    margin-bottom: 75px;
}
.submit{
    height: 50px;
    background-color: yellowgreen;
    color: white;
}



.contact-info{
    color: white;
}
.contact-info h4{
    font-size: 1.2em;
    margin-bottom: 20px;
}
.contact-info p{
    font-size: 1.2em;
    color: white;
    text-decoration: bold;
    margin-bottom: 50px;
}
.contact-info p span{
    font-size: 1.2em;
    font-weight: bold;
}
.contact-link{
    width: auto;
    color: white;
    margin-bottom: 100px;
    font-size: 1.5em;
}
.contact-link i{
    font-size: 2em;
}
