@import url('https://fonts.googleapis.com/css?family=Muli');
* {
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}
body {
    background: url('https://wallpaper-house.com/data/out/8/wallpaper2you_286687.png');
    background-size: cover;
    background-repeat: no-repeat; 
}
#container {
    width: auto;
    height: auto;
    margin-top: 10px;
    -webkit-perspective: 800px;
            perspective: 800px;
    text-align: center;
}
#container h1 {
    color: #ECF6CE;
    margin-bottom: 30px;
}
#container > hr {
    border: none;
    border: 1px solid #fff;
    width: 80%;
}
.card {
    margin: 10px;
    display: inline-block;
    position: relative;
    width: 250px;
    height: 300px;
    opacity: 0.95;
}
.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: -webkit-transform 300ms;
    transition: -webkit-transform 300ms;
    transition: transform 300ms;
    transition: transform 300ms, -webkit-transform 300ms;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    border-radius: 5px;
}
.front {
    transform: rotateY(0deg);
    background: -webkit-linear-gradient(top left,  #ff00ff, #0000ff);
    background: linear-gradient(to bottom right, #0000ff,#ff00ff );
    text-align: center;
    padding: 30px;
}
.back {
    background: -webkit-linear-gradient(top left, #ccccff, #e6f0ff);
    background: linear-gradient(to bottom right, #ccccff, #e6f0ff);
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    padding: 40px 15px;
    color: #000;
}
.card:hover .front {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}
.card:hover .back {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
}

.front .contact {
    height: 150px;
    width: 150px;
    border: 5px solid #000;
    border-radius: 70%;
    display: inline-block;
    margin-bottom: 5px;
}
.front .name {
    display: inline-block;
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    font-weight: bolder;
}
.front .job {
    color: #000;
}
.front hr {
    border: none;
    color: #000;
    border: 1px solid;
}
.back .icon {
    fill: currentColor;
    color: inherit;
    height: 33px;
    width: 33px;
    margin-top: 15px;
    color: blue;
}
.back .icon:hover {
    cursor: pointer;
    color: black;
}
/*footer*/
.a1{
            text-decoration: none;
            color: white;
        }
    .footer1{
    background-color: rgb(0,0,0);
    height: 150px;
    width: 100%;
    padding: 0 20%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.ul1{
    list-style-type: none;
}
.li1{
    float: left;
    margin-right: 50px;
    margin-bottom: 25px;
}
/*/footer*/
/*nav*/
 a2{
            text-decoration: none;
            color: white;
        }
nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 5%;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    border-bottom: 2px solid white;
    color: white;
}
.branding{
    height: 100%;
    display: flex;
    align-items: center;
}
.figure1{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.logo{
    height: 75%;
    display: flex;
    align-items: center;
}
.brand{
    width: auto;
    height: 100%;
    margin-left: 15px;
    display: flex;
    align-items: center;
}
.brand h3{
    font-size: 25px;
    font-weight: 500;
}
.brand span{
    font-size: 30px;
    font-weight: 700;
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}
.nav-links a{
    margin-left: 30px;
    font-weight: normal;
    text-align: center;
}
/*/nav*/

