a{
  text-decoration: none;
  color: inherit; 
}
nav{
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;  
  height: 75px;
  width: 80%;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3700b3;
}
.brand-name h3{
  padding: 0;
  margin: 0;
  border-bottom: 4px solid white;
}
h5{
  margin: 0;
  padding: 0;
  font-size: 1.5vw;
  text-align: center;
  color: white;
  border-bottom: 2px solid white;
  opacity: 0.7;
}
figure{
    margin: 0;
    padding: 0;
}

#logo{
    height: 150px;
    width: auto;
}

.brand{
    width: auto;
    position: absolute;
    top: 150px;
    left: 50px;
    z-index: 1;
}
.nav-ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-ul > a{
  margin-left: 50px;
  font-size: 1vw;
}
#nav-links{
  position: fixed;
  z-index: 2;
  background-color: #3700EE;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: .5s ease-in-out;
  border-radius: 4px;
}
#nav-links a{
  content: "";
  font-size: 2vw;
  font-weight: bold;
  margin: 5vh 0 0 0;
  color: white ;
  transition-delay: 0.2s ease-in-out;
}
#nav-icon1{
    z-index: 3;
    width: 60px;
    height: 45px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon1 span{
    display: block;
    position: absolute;
    height: 7px;
    width: 100%;
    background-color: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon1 span:nth-child(2) {
    top: 18px;
  }
  
  #nav-icon1 span:nth-child(3) {
    top: 36px;
  }
  
  #nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  #nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  a::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background-color: white ;
    transition: width .3s;
}

a:hover::after {
    width: 100%;
    //transition: width .3s;
}