h4.group.card-title {
    font-size: 1em;
    color: #000;
    text-transform: capitalize;
    font-weight: 800;
    padding-bottom: 10px;
    border-bottom: 1px solid #cec1c1;
}


.btn-course {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #ff1949;
    background: #dee3e7;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 8px 10px;
    border: none;
    text-align: center;
    text-transform: capitalize;
    position: relative;
    overflow: hidden;
    -webkit-transition: .3s;
    transition: .3s;
}

.btn-course:after {
    position: absolute;
    -webkit-transition: .3s;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #ff1948;
}

.btn-course:hover:after {
    width: 100%;
    left: 0;
}

.btn-course:hover {
    color: #fff;
    background: #000;
}

p.lead {
    color: #5b5b5b;
    font-weight: 600;
}

p.group.inner.list-group-item-text {
    margin-bottom: 2em;
}

.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}

.thumbnail {
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: none;
    box-shadow: 0 27px 24px rgba(0, 0, 0, 0.1), 0 40px 77px rgba(0, 0, 0, 0.1);
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}

.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
    display: inline-block;
}

.item.list-group-item .caption {
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before,
.item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item:after {
    clear: both;
}
#text1{
display:none;
}
#text2{
display:none;
}
#text3{
display:none;
}
#text4{
display:none;
}
#text5{
display:none;
}
#text6{
display:none;
}
.btn-container{
  margin: auto;
  height:44px;
  width:166.23px;
  
}
.button1{
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  cursor:pointer;
  border:none;
  padding:8px;
  font-size:20px;
  background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color:white;
  font-family:cursive;
  box-sizing:border-box;
}

@media screen and (max-width: 736px) {

    .item.list-group-item .img-event,
    .item.list-group-item .caption {
        float: none;
        width: 100%;
    }

    .thumb-last .thumbnail.card {
        margin-bottom: 0;
    }
}
/*nav*/
 a2{
            text-decoration: none;
            color: white;
        }
nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 5%;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    border-bottom: 2px solid white;
    color: white;
}
.branding{
    height: 100%;
    display: flex;
    align-items: center;
}
.figure1{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.logo{
    height: 75%;
    display: flex;
    align-items: center;
}
.brand{
    width: auto;
    height: 100%;
    margin-left: 15px;
    display: flex;
    align-items: center;
}
.brand h3{
    font-size: 25px;
    font-weight: 500;
}
.brand span{
    font-size: 30px;
    font-weight: 700;
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}
.nav-links a{
    margin-left: 30px;
    font-weight: normal;
    text-align: center;
}
/*/nav*/
/*footer*/
.a1{
            text-decoration: none;
            color: white;
        }
    .footer1{
    background-color: rgb(0,0,0);
    height: 150px;
    width: 100%;
    padding: 0 20%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.ul1{
    list-style-type: none;
}
.li1{
    float: left;
    margin-right: 50px;
    margin-bottom: 25px;
}
/*/footer*/
