@import url('https://fonts.googleapis.com/css?family=Acme');
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #010003;
    font-family: 'Acme', sans-serif;
    letter-spacing: 3px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

h3 {
    font-size: 1.3rem;
}

.tm-site-logo {
    width: 40px;
    height: 40px;
    border: 7px solid white;
    transform: rotate(45deg);
    display: inline-block;
    vertical-align: middle;
}

.tm-site-title {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
}

.tm-site-header {
    padding-top: 45px;
    padding-bottom: 45px;
    margin-bottom: 0;
}

#tm-video-loader {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.tm-video-container {
    position: relative;
    max-width: 1280px;
    max-height: 640px;
    overflow-y: hidden;
}

.tm-video-text {
    display: inline-block;
}

.tm-welcome-video {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-color:#6534ff;
    background-size: cover;
    transition: 1s opacity;
}

.tm-video-text-overlay {
    position: absolute;
    left: 60%;
    bottom: 30px;
}
.tm-video-text-overlay h1 {
	font-size: 3.4rem;
}
.tm-welcome-text {
    margin-top: 65px;
    margin-bottom: 65px;
    font-size: 2.2rem;
}

.tm-font-400 {
    font-weight: 400;
}

.tm-text-light-gray {
    color:  black;
}

.tm-text-gray {
    color:  black;
}

.tm-text-white {
    color:  black;
}

a.tm-text-white:hover,
a.tm-text-white:focus {
    color:  black;
}

.tm-text-green {
    color: black;
}

.tm-text-cyan {
    color:  black;
}

.tm-text-yellow {
    color:  black;
}

.tm-text-orange {
    color: black;
}

.tm-bg-dark {
    background-color: #bbc4ef;
}

.tm-bg-dark-light {
    background-color: #62bcfa;
}

hr {
    border-color: #666666;
    max-width: 70%;
}

.tm-video-iframe {
    height: auto;
}

.tm-timeline-item {
    margin-left: 70px;
}

.tm-timeline-item-inner {
    display: flex;
    align-items: center;
}

.tm-img-timeline {
    width: 160px;
    height: 160px;
    display: inline-block;
    vertical-align: middle;
}

.tm-timeline-connector {
    width: 55px;
    height: 3px;
    background-color: #404040;
}

.tm-timeline-connector-vertical {
    height: 60px;
    width: 3px;
    background-color: #404040;
    margin-left: 260px;
}

.tm-timeline-description {
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    padding: 35px 40px;
    max-width: 712px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 5%;
    height: 75px;
    background-color: #3700b3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    border-bottom: 2px solid white;
}
.branding{
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}
figure{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.logo{
    height: 75%;
    display: flex;
    align-items: center;
}
.brand{
    width: auto;
    height: 100%;
    margin-left: 15px;
    display: flex;
    align-items: center;
}
.brand h3{
    font-size: 20px;
    font-weight: 500;
}
.brand span{
    font-size: 22px;
    font-weight: 700;
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}
.nav-links a{
    margin-left: 30px;
    font-weight: normal;
    text-align: center;
}
.ham-burg{
    display: none;
}
#sec-style{
        font-size: 6vw;
        padding: 0;
        margin: 0;
}
#sec-style2{
    font-size: 3vw;
    margin: 0;
    padding: 0;
}
.banner{
    z-index: 1;
    background-image: url("../../img/blog/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    height: 100vh;
    width: 100%;
    padding: 0 10%; 
    display: flex;
    justify-content: center;
    align-items: center;  
}
.banner-box{
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    width: 60%;
    height: 20vw;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    border: 5px solid white;
    font-family: 'lato', sans-serif;
    
}
a::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background-color: white ;
    transition: width .3s;
}

a:hover::after {
    width: 100%;
    transition: width .3s;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1310px;
    }
    .tm-container-2 {
        max-width: 1170px;
    }
}

@media (max-width: 1199px) {
    .tm-video-container {
        max-width: 932px;
        max-height: 466px;
    }
    .tm-video-text-overlay {
        left: 60%;
    }
}

@media (max-width: 991px) {
    #google-map,
    .tm-contact-form {
        max-width: 100%;
    }
    .google-map-iframe {
        width: 100%;
    }
    .tm-video-container {
        max-width: 690px;
        max-height: 345px;
    }
    .tm-video-text-overlay {
        left: 45%;
    }
	.tm-video-text-overlay h1 {
		font-size: 2.8rem;
	}
    .tm-timeline-item {
        margin-left: 25px;
    }
}

@media (max-width: 767px) {
    .tm-timeline-item {
        margin-left: 0;
    }
    .tm-video-container {
        max-width: 510px;
        max-height: 255px;
    }
    .tm-video-container,
    .tm-welcome-video {
        min-height: 220px;
    }
    .tm-video-text-overlay {
        left: 25%;
    }
}

@media (max-width: 584px) {
    .tm-timeline-item-inner {
        flex-direction: column;
    }
    .tm-timeline-connector {
        width: 3px;
        height: 55px;
    }
    .tm-timeline-connector-vertical {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 540px;
    }
    .tm-video-text-overlay {
        left: 30%;
    }
    .tm-video-text-overlay h1 {
        font-size: 1.8rem;
    }
}


@media (max-width: 480px) {
    .tm-video-container {
        overflow-x: hidden;
    }
    .tm-welcome-video {
        min-width: auto;
        max-width: 125%;
    }
}
