body {
    background: rgb(58, 58, 58);
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  
  header {
    background-color: black;
    background-image: url("dsc-122-2000x1333.jpg");
    background-size: 100%;
    background-position: center;
    height: 520px;
    width: 1360px;
    background-repeat: no-repeat;
    padding: 80px;
    margin: 0px;
    text-align: center;
  }
  
  
  a:hover
  {
      text-decoration: underline;
      text-decoration-color: black;
  }
  
  header .logo  {
    background-image: url("logo.png");
    background-size: 80%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    border: ivory 10px;
    height: 200px;
    width: 300px;
    transition: width 2s;
  }
  header .logo:hover
  {
    height: 300px;
    width: 400px;
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  nav li {
    color: blue;
    display: inline-block;
    margin-right: 10px;
  }
  
  
  
  .features {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
  }
  
  .features figure {
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
  }
  
  .features figure img {
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: gray 0 0 10px;
    width: 200px;
  }
  
  /* FOOTER */
  
  footer {
    background: black;
    color: gray;
    font-size: 12px;
    padding: 20px 20px;
    text-align: center;
  }
  #text
  {
      text-align: center;
      font-style: italic;
      color: rgb(18, 33, 243);
  }
  button{
    background-color: #4CAF50;
    border: aliceblue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    transition:width 1s;
  }
  button:hover{
    font-size: 25px;
    color: white;
    background-color: #4CAF50;
    border-radius: 50%;
    padding: 20px;
    width: 180px;

  }
